
.body{
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.data{
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 550px;
    align-items: center;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.data:first-child{
    margin-top: 70px;
}

.edit-data{
    margin: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    
}
p{
    padding: 10px;
    font-family: verdana;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.edit-btn{
    position: relative;
    left: 200px;
    margin-bottom: 30px;
}
.header-item{
    font-size: 30px;
    text-align: center;
}
.add-room{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.add_btn{
    position: relative;
    bottom: 10px;
    left: 250px;
}

.edit-delete-btn{
    margin-top: 10px;
    margin-bottom: 10px;
}
.table{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.booking_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: auto;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.payment-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}


.lds-ring {
  display: none;
  
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {

  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(82, 85, 239) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}