{% extends "base.html" %}

{% block content %}
{% load static %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/update_nav.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/view.css' %}">
<a class="btn btn-dark" style="width:150px; " href="{% url 'booking:customers' %}">View Customers</a>

<a class="btn btn-dark" style="width:150px;margin-top:50px" href="{% url 'booking:managers' %}">View Managers</a>

<a class="btn btn-dark" style="width:150px;margin-top:50px" href=" {% url 'booking:rooms' %}">View Rooms</a>


{% comment %} <a class="btn btn-dark" href="{% url 'booking:room_types' %}">View Room-Types</a> {% endcomment %}



{% endblock %}